body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.title-content{
       background: #1581b3; 
       margin-top: 50px;   
       border-radius: 50px 0; 
       font-size: 30px;
       color: white;   
       font-weight: bold;    
       padding: 5px 30px;
       width: 50%;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) { 

  .title-content{
    background: #1581b3; 
    margin-top: 50px;   
    border-radius: 50px 0; 
    font-size: 30px;
    color: white;   
    font-weight: bold;    
    padding: 5px 30px;
    width: 100%;
}
}